*{
box-sizing:border-box;
}


body{
margin:0;
font-family:Arial;
background:#f2f4f8;
}


header{
background:#273c75;
color:white;
text-align:center;
padding:20px;
}



.form{
display:flex;
justify-content:center;
gap:10px;
margin:25px;
}



input{
padding:12px;
width:300px;
}



button{
padding:12px;
border:0;
background:#44bd32;
color:white;
cursor:pointer;
}



.kanban{
display:flex;
justify-content:center;
gap:20px;
}



.coluna{
background:white;
width:300px;
min-height:400px;
padding:15px;
border-radius:10px;
box-shadow:0 3px 10px #ccc;
}



h2{
text-align:center;
}



.lista{
min-height:320px;
}



.tarefa{

background:#ddd;
padding:12px;
margin:10px 0;
border-radius:8px;
cursor:grab;

}



.tarefa button{

background:#273c75;
margin-top:10px;

}



.excluir{

background:#e84118!important;

}