body{
font-family:Arial;
text-align:center;
background:#eee;
}

.form{
margin:20px;
}

input,button{
padding:10px;
}

.board{
display:flex;
gap:20px;
justify-content:center;
}

.col{
background:white;
width:250px;
min-height:300px;
padding:10px;
border-radius:10px;
}

.task{
background:#ddd;
margin:10px;
padding:10px;
border-radius:8px;
cursor:pointer;
}

.delete{
float:right;
cursor:pointer;
color:red;
}